// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.content__title{
  width:min-content;
  max-width: 100%;
  position: relative;
}
.title__pagetitle{
  position: relative;
  margin-top:0;
  margin-bottom:0;
  width:min-content;
  max-width: 100%;
  position: relative;

  @include breakpoint('large'){
    width:max-content;
  }
}
.title__subtitle{
  position: relative;
  font-size:1rem;
}
.title__subtitle--left{
  text-align: left;
  margin-bottom:0;
  //text-transform: uppercase;
}

.title__subtitle--right{
  @include breakpoint('large') {
    text-align: right;
  }
}
//lien réseaux sociaux

.content__link{
  position: relative;
  a{
    margin-right: 1rem;

    @include breakpoint('small'){
      margin-right: 1.5rem;
    }
    opacity:0.4;

    path{
      transition: all .2s ease-out;
    }
    &:hover{
      opacity:1;
    }
    &:hover path{
      fill:white;
    }
  }
}

#section-1 .content__link a{
  opacity:1;
  &:first-child:hover path{
    fill:$color1;
  }
  &:nth-child(2):hover path{
    fill:$color2;
  }
  &:hover path{
    fill:$color3;
  }
  &:last-child:hover path{
    fill:$color4;
  }
}
