// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Header font family
/// @type List
$header-font-stack: 'Abril Fatface', cursive !default;


/// Regular font family
/// @type List
$text-font-stack: 'Avenir', 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;





/// Copy text color
/// @type Color
$text-color: #9B9B9B !default;

/// Main brand color
/// @type Color
$brand-color: #C0A9A6 !default;

/// Light grey
/// @type Color
$light-grey: #f4f4f4 !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

$gradient: linear-gradient(92deg, #eae3ff, #c09eaf 30%, #c0b59e 60%, #9ec09f);



/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels


$breakpoints: (
  'small': (min-width: 540px),
  'medium': (min-width: 768px),
  'large': (min-width: 1024px),
  'huge': (min-width: 1200px),
  'portrait': (orientation:portrait),
);




/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
