// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.site-title{
  position: absolute;
  z-index: 9;
  top:1.5rem;
  left:1.5rem;
  color:white;
  text-transform: lowercase;
  font-size:1rem;
  letter-spacing: 2px;
  opacity:0.9;

  &:hover{
    opacity:1;
    color: white;
    text-decoration: none;
  }

  @include breakpoint('large'){
    top:4.5rem;
    left:4.5rem;
  }
}

.scroll__indication{
  display: none;
  @include breakpoint('large'){

    display: block;
    position: absolute;
    transform: rotate(-90deg);
    letter-spacing:2px;
    font-size:1rem;
    left: 3.5rem;
    bottom: 5.5rem;
  }

  .section-1-state + &{
    color: #d9d9d9;
  }
}